@media(max-width:991px){
  .ribbon-content-phone{
      font-weight: bold;
      color: white;
      font-size: 18px;
      text-align: center;
    }
    .ribbon-content-email{
      display: none;
    }
}
@media(max-width:767px){
  .brand-img{
    margin-left: -50px;
  }
}

@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


@media (max-width:881px){
  .footer-distributed{
    height: 60vh;
  }
}
@media (max-width:389px){
  .footer-distributed{
    height: 70vh;
  }
}
